bidict==0.21.2
cachelib==0.1.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
dnspython==1.16.0
eventlet==0.31.0
Flask==1.1.2
Flask-Cors==3.0.10
Flask-Login==0.5.0
Flask-Session==0.3.2
Flask-SocketIO==5.0.1
greenlet==1.1.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
python-engineio==4.1.0
python-socketio==5.2.1
requests==2.25.1
six==1.16.0
urllib3==1.26.4
Werkzeug==1.0.1
