flask==1.1.2
flask-login==0.5.0
flask-session==0.3.2
flask-socketio==4.3.2
flask-cors==3.0.10
itsdangerous==1.1.0
jinja2==2.11.2
markupsafe==1.1.1
python-engineio==3.0.0
python-socketio==4.6.1
six==1.15.0
werkzeug==1.0.1
eventlet==0.30.0
requests==2.25.1
colorama==0.4.4
