<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Trape: Login</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
    <meta name="apple-mobile-web-app-title" content="Trape">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="robots" content="noindex, nofollow"/>
    <meta name="theme-color" content="#000" />
    <meta name="google" value="notranslate"/>
    <meta name="author" content="Jose Pino, @jofpin"/>
    <meta name="description" content="OSINT Research and analytics tool"/>

    <!-- Styles & Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="styles/[FAVICON_HREF]">
    <link rel="icon" type="image/x-icon" href="styles/[FAVICON_PNG_HREF]">
    <link rel="stylesheet" href="styles/[BASE_ICONS_HREF]">
    <link rel="stylesheet" href="styles/[STYLES_HREF]">
    <script src="static/js/[LIBS_SRC]"></script>
    <!--[if (gte IE 6) & (lte IE 9)]>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->
</head>

<body class="TrapeBody-Login">
    <!-- home(TrapeLogin) -->
    <div class="TrapeLogin">

        <header class="TrapeLogin-Header">
            <div class="TrapeLogin-Header--Box">
                <img class="TrapeLogin-Header--Box---logo" src="static/img/trape-logo.png" alt="trape">
                    <div>
                        <h1 class="TrapeLogin-Header--Box---nameTrape">trape</h1>
                    </div>
            </div>
        </header>

        <section class="TrapeLogin-Wrapper">
            <p class="TrapeLogin-Wrapper--description">Control panel</p>
            <p class="TrapeLogin-Wrapper--explanation">People tracker on the Internet</p>

            <!-- home(keyIcorrect) -->
            <div class="TrapeLogin-IncorrectKey">
                <div class="TrapeLogin-IncorrectKey--Icon"><span class="icon-times"></span></div>
                <div class="TrapeLogin-IncorrectKey--Text">Hey the key is incorrect, try again.</div> 
            </div>
            <!-- end(keyIcorrect) -->

            <!-- home(form) -->
            <div class="TrapeLogin-Wrapper--Form">
                <form class="TrapeLogin-Wrapper--Form---Body" method="POST">
                    <label class="TrapeLogin-Wrapper--iconLabel icon-lock2"></label>
                    <input type="password" class="TrapeLogin-Wrapper--Form---input" placeholder="Enter the Access key" id="dataKey" name="key" required="true">
                    <div class="TrapeLogin-Wrapper--Form---buttonRightDefine">
                        <button type="submit" class="TrapeLogin-Wrapper--Form---button"><span class="TrapeLogin-Wrapper--Form---button----text">Sign In</span> <small class="icon-chevron-right"></small></button>
                    </div>
                </form>
                <div class="TrapeLogin-Wrapper--Form---text">
                    <span class="TrapeLogin-Wrapper--Form---line">-</span>  OSINT Research and analytics tool <span class="TrapeLogin-Wrapper--Form---line">-</span>
                </div>
            </div>
            <!-- end(form) -->


            <!-- home(copyright) -->
            <div class="TrapeLogin-Footer">
                <div class="TrapeLogin-Footer--Version">
                   <span class="TrapeLogin-Footer--Version---name">stable</span> 
                   <span class="TrapeLogin-Footer--Version---number">v2.0</span> 
                </div>
                <div class="TrapeLogin-Footer--Copyright">
                    <i class="icon-copyright"></i> 2018 <a href="https://twitter.com/jofpin" class="TrapeLogin-Footer--Copyright---linkBoxug" title="Creator of trape tool">Jose Pino</a>
                </div>
            </div>
        </section>


    </div>
    <!-- end(TrapeLogin) -->
    <script src="static/js/[LOGIN_SRC]"></script>
</body>
</html>